[submodule "submodules/privacy-filter"]
	path = submodules/privacy-filter
	url = git@github.com:qidu/privacy-filter.git
[submodule "submodules/kompress"]
	path = submodules/kompress
	url = git@github.com:qidu/kompress.git
[submodule "submodules/node-keytar"]
	path = submodules/node-keytar
	url = git@github.com:github/node-keytar.git
[submodule "submodules/laya-mlx"]
	path = submodules/laya-mlx
	url = git@github.com:qidu/laya-mlx.git
